<div class="item">
    <div class="image">
        <div>
            <span class="bubble" data-dojo-attach-point="dateDiffTooltip">${stateData.dateDiff}</span>
            <img data-dojo-attach-point="userImageTooltip" alt="${stateData.primaryText}" class="userImage" src="${stateData.primaryLargeIcon}" onerror="if (this.src != '${stateData.primaryIcon}') this.src = '${stateData.primaryIcon}';"></img>
        </div>
    </div>
    <div class="details" data-dojo-attach-point="delegatedHistoryEntry">
        <div>
            <table>
                <tr>
                    <td>
                        <span class="attrIcon calIcon"/>
                    </td>
                    <td>
                        <span class="attrIcon"></span>
                        <span>${stateData.formattedDate}</span>
                    </td>
                </tr>
                <tr data-dojo-attach-point="daysAgoRow"></tr>
                <tr>
                    <td>
                        <span class="attrIcon"><img src="${stateData.secondaryIcon}" /></span>
                    </td>
					<td>
                        <span>${stateData.secondaryText}</span>
                    </td>
                </tr>
                <tr data-dojo-attach-point="resolutionRow"></tr>
            </table>
        </div>
    </div>
</div>